@inject PlaylistState PlaylistState;
@using Chinook.Models
@using Chinook.Services
@using Chinook.States
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        @foreach (var playlist in PlaylistState.Playlists)
        {
            <div class="nav-item px-3">
                 <NavLink class="nav-link" href="@GetLink(playlist.PlaylistId)">
                     <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@playlist.Name
                 </NavLink>
             </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    // private List<Playlist> Playlists { get; set; } = new()
    // {
    //     new Playlist
    //     {
    //         Name = "90's Music",
    //         PlaylistId = 1
    //     }
    // };

    protected override void OnInitialized()
    {
        PlaylistState.OnChange += StateHasChanged;
    }
    
    public void Dispose()
    {
        PlaylistState.OnChange -= StateHasChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    private string GetLink(long playListId) => $"playlist/{playListId}";
    



}
